<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="prictise.com.application1">

  <application
    android:name=".MainApplication"
    android:allowBackup="true"
    android:icon="@mipmap/interview"
    android:label="Test"
    android:roundIcon="@mipmap/interview"
    android:supportsRtl="true"
    android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">
    <activity android:name=".MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity android:name=".cusListview.RecycleViewActivity" />
    <activity android:name=".cusListview.ViewPagerRefreshListActivity" />
    <activity android:name=".kotlin.okhttpTest.OkHttpActivity" />
    <activity android:name=".testEdittext.TestEditTextActivity" />
    <activity android:name=".dynamicProxy.DynamicProxyActvity" />
    <activity
      android:name=".lifecycle.StandardActivity"
      android:configChanges="screenSize|keyboardHidden|orientation" />
    <activity android:name=".lifecycle.StandardActivity2" />
    <activity
      android:name=".lifecycle.SingleTopActivity"
      android:launchMode="singleTop" />
    <activity
      android:name=".lifecycle.SingleTaskActivity"
      android:launchMode="singleTask" />
    <activity
      android:name=".lifecycle.SingleTask2Activity"
      android:launchMode="singleTask" />
    <activity
      android:name=".lifecycle.SingleInstanceActivity"
      android:launchMode="singleInstance" />
    <activity
      android:name=".pictureMemory.PictureMemoryActivity"
      android:launchMode="standard" />
    <activity
      android:name=".pictureMemory.PictureCompressActivity"
      android:launchMode="standard" />
    <activity android:name=".cus.CusActivity" />

    <activity android:name=".onActivityResult.StandardActivity" />

    <activity android:name=".onActivityResult.StandardActivity2" />

    <activity
      android:name=".onActivityResult.SingleTaskActivity"
      android:launchMode="singleTask" />
    <activity
      android:name=".testTaskAffinity.TaskAffinityActivity"
      android:allowTaskReparenting="true"
      android:taskAffinity="com.winuxxan" />

    <activity android:name=".cusview.CusViewActivity" />
    <activity android:name=".rippeview.RippleActivity" />
    <activity android:name=".dialog.DialogActivity" />
    <activity android:name=".circleImageView.CircleActivity" />
    <activity android:name=".eventDispatch.EventDispatchActivity" />
    <activity android:name=".animation.AnimationActivity" />
    <activity android:name=".animation.PropertyAnimationActivity" />
    <activity android:name=".notify.NotifyActivity" />
    <activity android:name=".gridview.GridViewActivity" />
    <!--<activity android:name=".cusview.ClockActivity"/>-->
    <activity android:name=".networkTest.NetWorkActivity" />
    <activity android:name=".countDown.CountDownActivity" />
    <activity android:name=".log.LogActivity" />
    <activity android:name=".wheel.WheelActivity" />
    <activity
      android:name=".FaceDetect.FaceDetectorActivity"
      android:exported="true" />

    <activity android:name=".gridview.RecycleGridViewActivity" />

    <activity android:name=".alarm.AlarmManagerActivity" />

    <activity android:name=".cusListview.RefreshListViewActivity" />
    <activity android:name=".cusListview.weightPullLoadmore.RefreshListView2Activity" />
    <activity android:name=".alarmManager.AlarmManagerActivity" />

    <activity android:name=".gridview.pulltorefresh.PullRefreshActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableGridViewActivity" />
    <activity android:name=".qiniu.activity.QiniuActivity" />

    <activity android:name=".map.MapActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableExpandableListViewActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableImageViewActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableListViewActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableScrollViewActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableTextViewActivity" />
    <activity android:name=".gridview.pulltorefresh.activity.PullableWebViewActivity" />
    <activity android:name=".multithreading.ThreadActivity" />
    <activity android:name=".eventBus.EventBusActivity" />
    <activity android:name=".testStackActivity.MainStackActivity" />
    <activity
      android:name=".testStackActivity.SingleInstanceStackActivity"
      android:launchMode="singleInstance" />
    <activity
      android:name=".testStackActivity.SingleInstanceStackActivity2"
      android:launchMode="singleInstance" />
    <activity
      android:name=".testStackActivity.SingleTaskStackActivity"
      android:launchMode="singleTask" />

    <activity
      android:name=".testStackActivity.SingleTopStackActivity"
      android:launchMode="singleTop" />

    <activity android:name=".testConstraintLayout.ConstraintLayoutActivity" />
    <activity android:name=".hook.ProxyActivity" />
    <activity android:name=".fragment.FragmentMainActivity" />
    <activity
      android:name=".dialog.DialogStyleActivity"
      android:theme="@style/Android124" />
    <activity android:name=".animation.TestPropertyAniActivity" />

    <activity android:name=".canvas.TestCanvasActivity" />

    <activity android:name=".intent.IntentActivity" />

    <activity android:name=".intent.IntentSecondActivity">
      <intent-filter>
        <action android:name="testHideIntent" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>

    <activity android:name=".asyncTask.AsyncTaskActivity" />
    <activity android:name=".viewpager.ViewPagerMainActivity" />
    <activity android:name=".shipei.ShiPeiActivity" />
    <activity android:name=".dynamicProxy.DynamicProxyActivity" />

    <activity android:name=".kotlin.database.KotlinMainActivity" />
    <activity android:name=".kotlin.rxjava.RxJavaActivity" />
    <activity android:name=".kotlin.rxjava.JavaRxjavaTestActivity" />
    <activity android:name=".testGreendao.TestGreenDaoActivity" />
    <activity android:name=".kotlin.greendao.GreenDaoTestActivity" />

    <receiver android:name=".alarm.AlarmReceiver" />

    <receiver android:name=".alarmManager.DeleteLogAlarmReceiver">
      <intent-filter>
        <action android:name="android.com.delete.log.file" />
      </intent-filter>
    </receiver>

    <service android:name=".dialog.DialogService" />
    <service android:name=".alarm.AlarmService" />

    <service android:name=".cusService.TestIntentService" />

    <service
      android:name=".kotlin.rxjava.AccessServer"
      android:enabled="true"
      android:exported="true"
      android:label="@string/app_name"
      android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
      <intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
      </intent-filter>

      <meta-data
        android:name="android.accessibilityservice"
        android:resource="@xml/auto_reply_service_config" />
    </service>

    <activity
      android:name=".kotlin.activity.ActivityA"
      android:launchMode="singleInstance" />
    <activity android:name=".kotlin.activity.ActivityB" />

    <activity
      android:name=".kotlin.activity.ActivityC"
      android:taskAffinity="prictise.com.demo.new_task" />

  </application>

  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <uses-permission android:name="android.permission.INTERNET" />

  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission
    android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
    tools:ignore="ProtectedPermissions" />

</manifest>